input.hidden-ph::placeholder{
    color: transparent;
    user-select: none;
}
.input-container label{
    position: absolute;
    user-select: none;
    padding:18px 10px;
    pointer-events: none;
    transition: .5s;
    opacity: 0.5;
}

.input-group label{
    color: #2F3061;
}

.input-container input:focus ~ label,
input:not(:placeholder-shown) ~label {
    margin-top:-15px;
    font-size:12px;
    opacity: 1;
    color: #2F3061;
}

.input-group{
    flex-direction: column;
    width: 100%;
}


input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 8px 4px 8px;
}

select{
    padding: 8px 8px 4px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    appearance: none;
    background: url(./images/arrow-down.svg) 100% 70% / 15% no-repeat transparent;
}

button{
    border-radius: 8px;
    background-color: transparent;
    color:#343434;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}