input.hidden-ph::placeholder{
    color: transparent;
    user-select: none;
}
.input-container label{
    position: absolute;
    user-select: none;
    padding:22px 10px;
    pointer-events: none;
    transition: .5s;
    opacity: 0.5;
}
.input-container input:focus ~ label,
input:not(:placeholder-shown) ~label {
    margin-top:-15px;
    font-size:12px;
    opacity: 1;
    color: #2F3061;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 8px;
}
button{
    border-radius: 8px;
    background-color: transparent;
    color:#343434;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}