.add-personagem-modal{
    flex-direction: column;
}

.input-container label{
    padding: 4px 10px;
}

:is(.input-container,.input-group){
    margin: 1em 0;
}

.add-personagem-modal .input-container input:focus ~ label,
input:not(:placeholder-shown) ~label {
    margin-top:-20px;
}

