.character-card{
    padding:20px;
    border-radius: 15px;
    background-color: blanchedalmond;
    flex-direction: column;
    height: 20%;
    width: 20%;
}
.character-card-container{
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 50%;
    overflow: auto;
}
.character-card-container > *{
    margin: 1em 0;
}
.character-name{
    text-overflow: ellipsis;
}

.actions-container{
    margin-top:2em;
}
.actions-container button{
    background-color:#9FB4C7
}